/* Default CSS Styling */
* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-shadow: 3px 3px 4px #000000;
  color: #FFFFFF;
  outline: none;
  border-style: none;
  -ms-overflow-style: none;
}

body {
  background-color: rgb(25, 25, 25);
  margin: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

/* Fade bar images */
.fade {
  position: fixed;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.fade-img {
  max-width: 400%;
  width: 100%;
  height: 150px;
}

/* Whitespace block for placeholder */
.whitespace {
  position: relative;
  width: 100vw;
  height: 25vh;
  pointer-events: none;
}

/* Black screen that fades out */
.black-box {
  background-color: rgb(25, 25, 25);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: fadeOut;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Blocks view of background image */
.screen {
  background-color: rgb(25, 25, 25);
  position: sticky;
  top: 0px;
  width: 100vw;
  margin-top: 100vh;
  margin-bottom: -200vh;
  height: 100vh;
  z-index: -2;
}

/* Background image container */
.background {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -3;
}

.title {
  position: absolute;
  top: 25vh;
  width: 100%;
  height: auto;
  text-align: center;
  transition: all 0.2s;
}

/* Navbar and link bar */
.navbar {
  position: sticky;
  top: 10px;
  width: 90vw;
  margin: 80vh auto 30vh;
  text-align: center;
  z-index: 1;
  opacity: 0;
  animation: fadeInUp;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.linkbar {
  position: fixed;
  top: calc(50vh - 80px);
  left: 40px;
  width: 25px;
  height: 100px;
  z-index: 1;
}

.link-btn {
  background-color: transparent;
  padding: 0;
  margin-bottom: 15px;
  transition: all 0.2s;
}

.link-btn:hover img {
  cursor: pointer;
  filter: brightness(70%);
  transition: all 0.2s;
}

.link-btn:hover .tooltip {
  opacity: 0.7;
  transition: all 0.5s;
}

.tooltip {
  opacity: 0;
  background-color: #444444;
  position: absolute;
  left: 35px;
  width: 70px;
  height: 15px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  display: inline-block;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #444444 transparent transparent;
}

/* Modular page contents */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 10vw;
}

.content {
  width: 40vw;
  margin: 20vh auto;
  text-align: center;
}

/* Polaroid image */
.polaroid-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.polaroid {
  background-color: #DDDDDD;
  position: absolute;
  top: -75px;
  width: 400px;
  height: 500px;
  margin: 0 calc(50% - 200px);
  box-shadow: 5px 5px 10px black;
  transform: rotate(-4deg);
  transition: all 0.5s;
}

.polaroid-img {
  position: relative;
  top: 5%;
  width: 86%;
  height: 69%;
  transition: all 0.5s;
}

.polaroid-sig {
  position: relative;
  top: -348px;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s;
}

.polaroid:hover {
  width: 450px;
  height: 562px;
  background-color: #666666;
  transform: rotate(0deg) translateX(-25px) translateY(-25px);
}

.polaroid:hover .polaroid-img {
  filter: brightness(50%);
}

.polaroid:hover .polaroid-sig {
  opacity: 1;
}

/* General text styling */
.txt {
  display: inline-block;
  font-size: 20px;
  text-align: justify;
  line-height: 1.8;
  transition: all 0.2s;
}

/* Buttons */
.txt-btn {
  background-color: transparent;
  display: inline-block;
  margin: 30px 80px 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 10px;
  transition: all 0.2s;
}

.txt-btn:hover {
  color:#BBBBBB;
}

.txt-btn:active {
  color:#888888;
}

.replay-btn {
  background-color: transparent;
  position: fixed;
  top: 40px;
  left: 40px;
  height: 36px;
  padding: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeIn;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.replay-btn:hover {
  cursor: pointer;
  filter: brightness(70%);
  transition: all 0.2s;
}

.scroll-img {
  background-color: transparent;
  position: fixed;
  bottom: 100px;
  left: 40px;
  width: 36px;
  height: 36px;
  z-index: -3;
}

.scroll-img:hover {
  cursor: pointer;
}

/* Timeline modules */
.timeline-circle {
  position: relative;
  margin: calc(20vh + 180px) 0;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.timeline-line {
  background-color: #FFFFFF;
  width: 5px;
  height: auto;
}

.project {
  background-color: #DDDDDD;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px black;
}

.project-img {
  position: relative;
  top: 5%;
  width: 92%;
  height: 90%;
}

.project-btn {
  background-color: #444444;
  margin: 30px 10px 0;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  transition: all 0.2s;
}

.project-btn:hover {
  cursor: pointer;
  background-color: #333333;
}

.project-btn:active {
  background-color: #2c2c2c;
}

@media screen and (max-width: 1200px) {
  .navbar {
    margin-bottom: 40vh;
  }

  .linkbar {
    position: absolute;
  }
  
  .content-wrapper {
    display: block;
  }

  .content {
    width: 80vw;
  }

  .txt {
    font-size: 16px;
  }

  .polaroid {
    left: 50px;
    width: 300px;
    height: 375px;
  }

  .polaroid-sig {
    top: -263px;
    font-size: 40px;
  }

  .polaroid:hover {
    width: 320px;
    height: 400px;
    transform: rotate(0deg) translateX(-10px) translateY(-10px);
  }

  .timeline-circle {
    height: 0;
  }
}
