body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-image: url('images/misty.png');
  background-repeat: no-repeat;
  background-color: rgb(25, 25, 25);
  background-size: contain;
}

.title img {
  width: 42vw;
}

button {
  display: inline-block;
  margin: 25px;
  margin-left: 35px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 10px;
  color: white;
  background-color: transparent;
  border-style: none;
  outline: none;
  text-shadow: 1px 1px 2px black;
  transition: all 0.2s;
}

button:hover {
  color:#BBBBBB;
}

button:active {
  color:#888888;
}

.divider {
  display: inline-block;
  color: white;
  font-size: 15px;
  font-weight: 900;
  text-shadow: 1px 1px 2px black;
}

.navbar {
  position: sticky;
  top: 20px;
  margin-top: 80vh;
  text-align: center;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 5s;
}

.title {
  position: absolute;
  top: 25vh;
  text-align: center;
  width: 100%;
  height: auto;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {opacity: 0;}
  50% {opacity: 0;}
	100% {opacity: 1;}
}